table {
  border: 2px solid black;
}
.table-container{
    overflow-x: auto;
    width: 100%;
}
tr td {
    white-space:nowrap;
    padding: 0 3rem;
    max-width: 300px;
    overflow: auto;
    border: 1px solid black;
 }
thead {
  border: 2px solid black;
}
th{
    border: 1px solid black;
}
.bannerURL{
    max-width: 200px;
}
td button {
    margin: 0 1rem;
    border: 1px solid red;
}