@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --headingFont: "Kumbh Sans", sans-serif;
  --bodyFont: "Kumbh Sans", "Segoe UI", sans-serif;
  --mono: monospace;
}

body {
  margin: 0;

  font-family: "Kumbh Sans", "Segoe UI", -apple-system, BlinkMacSystemFont,
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
